[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "~=5.4.0"
requests = "==2.24.0"
gql = "~=0.5.0"
flask = "~=1.1.2"
python-dotenv = "~=0.13.0"
waitress = "~=2.1"
flask-cors = "==3.0.8"
jsonpickle = "~=1.4"
pyyaml = "~=5.3.1"
sqlalchemy = "~=1.4"
fuzzywuzzy = "~=0.18.0"
python-Levenshtein = "~=0.12.0"
pyjwt = "~=1.1.0"
rq = "~=1.7.0"
rq-dashboard = "~=0.6.1"
flask-talisman = "~=0.7.0"
markupsafe="==2.0.1"
e1839a8 = {path = ".", editable = true}

[dev-packages]
pycodestyle = "~=2.5.0"
black = "==19.10b"
pre-commit = "~=2.2"

[requires]
python_version = "3.8.5"

